/* Horizon Theme for Aether */

:root {
    --aether-button-bg: #1c1e26;
    --aether-button-hover-bg: #232530;
    --aether-button-active-bg: #2e303e;
    --aether-button-border: #6c6f93;
    --aether-button-hover-border: #26bbd9;
    
    --aether-window-bg: #1c1e26;
    --aether-view-bg: #16161c;
    --aether-card-bg: #232530;
    --aether-headerbar-bg: #16161c;
    --aether-sidebar-bg: #16161c;
    --aether-actionbar-bg: #16161c;
    
    /* Slider colors */
    --aether-slider-bg: #26bbd9;
    --aether-slider-trough-bg: rgba(108, 111, 147, 0.3);
    
    --aether-suggested-button-bg: #29d398;
    --aether-suggested-button-hover-bg: #3fdaa4;
    --aether-suggested-button-fg: #1c1e26;
    
    --aether-destructive-button-bg: #e95678;
    --aether-destructive-button-hover-bg: #ec6a88;
    --aether-destructive-button-fg: #fadad1;
}
