/**
* @name aether-discord
* @author @bypass_
* @version 0.1.0
* @website https://github.com/imbypass/base16-Discord
* @description Built using Aether and Pywal
**/

/* import the parent */
@import url('https://base16-pywal.tiiny.site/base16-pywal.css');


:root {
    --background: {background};
    --text: {color15};
    --subtext: {color7};

    --accent: {color9};
    --green: {color2};
    --red: {color1};
    --yellow: {color3};
}
